.weatherPage h1{
    font-size: 56px;
}

.weatherPage h2 {
    color: #CCCCCC;
    font-weight: normal;
    font-style: italic;
}

.weatherPage .left {
    float: left;
}

.weatherPage .right {
    float: right;
    display: flex;

}

.weatherPage .updateTime {
    display: inline-block;
    margin-top: 8px;
    margin-right: 16px;
    text-align: right;
}

.weatherPage .chartContainer {
    height: 500px;
    width: 1500px;
    display: inline-block;
}