.refreshButton {
    width: 72px;
    height: 72px;
    border-radius: 8px;
    border: 4px solid white;
    background: #FFFFFF88;
    transition: border-radius 0.5s;
}

.refreshButton:hover {
    border-radius: 36px;
}

.refreshButton img {
    width: 40px;
    height: 40px;
    transition: transform 0.5s;
}

.refreshButton:hover img {
    transform: rotate(180deg);
}